---
import DarkImage from '../img/Dark.png';
import colors from '../../../src/gen_default_theme.json';
---

<!DOCTYPE html>
<html lang="zh-tw">
<head>
 <title>Color Palette</title>
  <meta charset="utf-8" />
  <link rel="icon" type="image/png" sizes="16x16" href={DarkImage}>
</head>
<body>
<main class="h-screen content-center p-8">
  <h1 class="flex text-3xl items-center mb-16">
    <img class="mr-4" src={DarkImage} alt="logo" width="50" height="50"/>
    Token - Color Palettes
  </h1>
  <div class="flex py-2">
    <h2 class="w-1/2">
      <span class="text-2xl font-900 ml-1 px-1 border-b-2">Token</span>
    </h2>
    <h2 class="text-2xl font-900 ml-1 border-b-2 px-1">Example & Values</h2>
  </div>
  <ul>
    {Object.entries(colors).map(([key,value]) => (
      <div class="flex py-2 border-b border-black items-center">
        <h2 class="text-2xl font-900 mr-auto ml-1 px-1 w-1/2">
          {key}
        </h2>
        <div class="flex gap-1 flex-1 items-center">
          <div class={`h-32 w-32 bg-${key}`}></div>
          <span class="ml-2">{value}</span>
        </div>
      </div>
    ))}
  </ul>
</main>
</body>
</html>
