---
import DarkImage from "../img/Dark.png";
import {Icon} from 'astro-icon';

const smallIcons = await Astro.glob('../../node_modules/consumer-tonic-ui/svg/general/16px/*.svg');
const middleIcons = await Astro.glob('../../node_modules/consumer-tonic-ui/svg/general/24px/*.svg');

const smallIconNames = smallIcons.map(icon => icon.default.split('/').pop().split('.')[0]);
const middleIconNames = middleIcons.map(icon => icon.default.split('/').pop().split('.')[0]);
---

<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <title>Icons</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" type="image/png" sizes="16x16" href={DarkImage}>
</head>
<body>
<main id="main" class="min-h-screen content-center p-8">
  <h1 class="flex text-3xl items-center mb-16">
    <img class="mr-4" src={DarkImage} alt="logo" width="50" height="50"/>
    Icons
  </h1>

  <span class="tcsmd-input">
    Search：<input type="text" class="tcsmd-input__inner" placeholder="search"/>
  </span>

  <h2 class="text-2xl font-900 mr-auto my-4"> 📃 16px</h2>
  <div class="flex flex-wrap gap-4 m-4">
    <span class="icon-[mdi-light--home]"></span>
    <span class="icon-[consumer-tonic-ui--middle-add]"></span>
    {smallIcons.map(icon => {
      const iconName = icon.default.split('/').pop().split('.')[0];

      return (
        <div class="min-w-[200px] flex flex-col gap-2 items-center bg-tcsmd-ref-palette-gray-22 p-4 rounded-xl">
          <Icon class="w-4 h-4" pack="consumer-tonic-ui" name={`16px/${iconName}`}/>
          <span>{iconName}</span>
        </div>
      )
    })}
  </div>

  <h2 class="text-2xl font-900 mr-auto mb-4"> 📃 24px</h2>
  <div class="flex flex-wrap gap-8">
    <div class="flex flex-wrap gap-4 m-4">
      {middleIcons.map(icon => {
        const iconName = icon.default.split('/').pop().split('.')[0];

        return (
          <div class="min-w-[200px] flex flex-col gap-2 items-center bg-tcsmd-ref-palette-gray-22 p-4 rounded-xl">
            <Icon class="w-6 h-6" pack="consumer-tonic-ui" name={`24px/${iconName}`}/>
            <span>{iconName}</span>
          </div>
        )
      })}
    </div>
  </div>
</main>

</body>
</html>
