---
const btnVariants = [
  'tcsmd-btn-primary', 'tcsmd-btn-default', 'tcsmd-btn-emphasis', 'tcsmd-btn-ghost',
  'tcsmd-text-btn-primary', 'tcsmd-text-btn-default', 'tcsmd-text-btn-emphasis',
];
---

<main id="main" class="min-h-screen content-center not-content">
  <div class="flex items-center">
    Theme：
    <button class="tcsmd-btn-primary" onclick="changeTheme('consumerDefault')">Default</button>
    <button class="tcsmd-btn-primary" onclick="changeTheme('idpExtra')">idp</button>
  </div>
  <div class="flex flex-wrap gap-8">
    {
      btnVariants.map(variant => (
        <div class="w-full md:w-[500px] rounded-2xl border-8 border-amber-200">
          <p class="text-2xl bg-amber-200 p-2 font-semibold"> 📚 {variant}</p>
          <div class="p-4">
            <span class="text-2xl font-semibold mr-auto mb-4"> 📃 State</span>
            <div class="flex flex-wrap gap-3">
              <button class={`${variant}`}>Default</button>
              <button class={`${variant} hover`}>
                <span class="icon-[consumer-tonic-ui--small-plus] w-4 h-4"></span>
                Hover
              </button>
              <button class={`${variant} active`}>
                <span class="icon-[consumer-tonic-ui--small-plus] w-4 h-4"></span>
                active
                <span class="icon-[consumer-tonic-ui--small-plus] w-4 h-4"></span>
              </button>
              <span class="cursor-not-allowed">
                <button class={`${variant} disabled`}>disabled</button>
              </span>

              <span class="cursor-wait">
                <button class={`${variant} loading`}>
                  loading
                  <div class="loader">
                    <svg class="circle-progress">
                      <circle class="bg" cx="12" cy="12" r="9"></circle>
                      <circle class="progress" cx="12" cy="12" r="9"></circle>
                    </svg>
                  </div>
                </button>
              </span>
              <button class={`${variant} focus`}>focus</button>
            </div>
            <hr class="hr">
            <span class="text-2xl font-semibold mr-auto mb-4"> 📃 Rounded</span>
            <div class="flex flex-wrap gap-3">
              <button class={`${variant} hover`}>Default</button>
              <button class={`${variant} hover rounded`}>Default</button>
            </div>
            <hr class="hr">
            <span class="text-2xl font-semibold mr-auto mb-4"> 📃 Size</span>
            <div class="flex flex-wrap gap-3 items-end">
              <button class={`${variant} hover xs`}>xs</button>
              <button class={`${variant} hover small`}>small</button>
              <button class={`${variant} hover`}>Default</button>
              <button class={`${variant} hover large`}>large</button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</main>

<script is:inline>
  function changeTheme(theme) {
    document.querySelector('#main').setAttribute('data-theme', theme);
  }
</script>
