---
import DarkImage from "../../assets/Dark.png";
import IconPlus from "../../components/icons/IconPlus.astro";

const btnVariants = [
  'tcsmd-btn-primary', 'tcsmd-btn-default', 'tcsmd-btn-emphasis', 'tcsmd-btn-ghost',
  'tcsmd-text-btn-primary', 'tcsmd-text-btn-default', 'tcsmd-text-btn-emphasis',
];
const states = ['enabled', 'hover', 'active', 'disabled', 'loading', 'focus'];

const textColor = variant => ['default', 'ghost'].includes(variant) ? 'text-black' : 'text-white';
---

<!DOCTYPE html>
<html lang="zh-tw">
<head>
  <title>Button Components</title>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="icon" type="image/png" sizes="16x16" href={DarkImage}>
</head>
<body>
<main id="main" class="min-h-screen content-center p-8">
  <h1 class="flex text-3xl items-center mb-16">
    <img class="mr-4" src={DarkImage} alt="logo" width="50" height="50"/>
    Buttons
  </h1>
  <div class="flex items-center">
    Theme：
    <button class="tcsmd-btn-primary" onclick="changeTheme('consumerDefault')">Default</button>
    <button class="tcsmd-btn-primary" onclick="changeTheme('idpExtra')">idp</button>
  </div>
  <div class="flex flex-wrap gap-8">
    {
      btnVariants.map(variant => (
        <div class="w-full md:w-[600px] rounded-2xl border-8 border-amber-200">
          <h1 class="text-2xl font-900 bg-amber-200 p-2"> 📚 {variant}</h1>
          <div class="p-4">
            <h2 class="text-2xl font-900 mr-auto mb-4"> 📃 State</h2>
            <div class="flex flex-wrap gap-3">
              <button class={`${variant}`}>Default</button>
              <button class={`${variant} hover`}>
                <IconPlus/>
                Hover
              </button>
              <button class={`${variant} active`}>
                <IconPlus/>
                active
                <IconPlus/>
              </button>
              <span class="cursor-not-allowed">
                <button class={`${variant} disabled`}>disabled</button>
              </span>

              <span class="cursor-wait">
                <button class={`${variant} loading`}>
                  loading
                  <div class="loader">
                    <svg class="circle-progress">
                      <circle class="bg" cx="12" cy="12" r="9"></circle>
                      <circle class="progress" cx="12" cy="12" r="9"></circle>
                    </svg>
                  </div>
                </button>
              </span>
              <button class={`${variant} focus`}>focus</button>
            </div>
            <hr class="hr">
            <h2 class="text-2xl font-900 mr-auto mb-4"> 📃 Rounded</h2>
            <div class="flex flex-wrap gap-3">
              <button class={`${variant} hover`}>Default</button>
              <button class={`${variant} hover rounded`}>Default</button>
            </div>
            <hr class="hr">
            <h2 class="text-2xl font-900 mr-auto mb-4"> 📃 Size</h2>
            <div class="flex flex-wrap gap-3 items-end">
              <button class={`${variant} hover xs`}>xs</button>
              <button class={`${variant} hover small`}>small</button>
              <button class={`${variant} hover`}>Default</button>
              <button class={`${variant} hover large`}>large</button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</main>

<script is:inline>
  function changeTheme(theme){
    document.querySelector('#main').setAttribute('data-theme',theme);
  }
</script>
</body>
</html>
